.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    z-index: 2;
}

.content-wrapper {
    z-index: 3;
    text-align: left;
    width: 100%;
    max-width: 50rem;
    padding: 0 1rem 0 7rem;
    position: relative;
}

.content-wrapper h1 {
    font-family: sans-serif;
    font-size: 4vw;
}

.content-wrapper p {
    font-family: sans-serif;
    font-size: 1.5vw;
    word-spacing: 10px;
    letter-spacing: 6px;
}

@media (max-width: 1200px) {
    .content-wrapper {
        padding: 0 1rem 0 4rem;
    }

    .content-wrapper h1 {
        font-size: 5vw;
    }

    .content-wrapper p {
        font-size: 2vw;
    }
}

@media (max-width: 992px) {
    .content-wrapper {
        padding: 0 1rem 0 2rem;
    }

    .content-wrapper h1 {
        font-size: 6vw;
    }

}

@media (max-width: 768px) {
    .logo {
        width: 100px;
    }

    .content-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
    }


    .content-wrapper h1 {
        font-size: 44px;
    }

    .content-wrapper p {
        font-size: 17px
    }

}