.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
}
.error-content {
    max-width: 600px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.error-code {
    font-size: 8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #ff4500;
    line-height: 1;
}

.error-heading {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.error-message {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #aaaaaa;
}

.home-button {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
}


.home-button:hover {
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

/* --- Responsive Adjustments --- */
@media (max-width: 600px) {
    .error-code {
        font-size: 6rem;
    }

    .error-heading {
        font-size: 2rem;
    }

    .error-content {
        padding: 20px;
    }
}