.portfolio-page-content {
    padding-top: 125px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    background-color: black;
}

.page-title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: system-ui;
    ;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 1rem !important;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #111;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.gallery-item:hover .caption {
    transform: translateY(0);
}

.load-more-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
}

.submit-button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 40px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #fff;
    color: #000;
    border: none;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.6s ease-out forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}


@media (min-width: 1100px) {
    .image-gallery {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1400px;
        margin: 40px auto 0 auto;
    }
}

@media (max-width: 768px) {

    .submit-button {
        padding: 10px 30px;
        font-size: 12px;
        letter-spacing: 1px;
    }
}


@media (max-width: 400px) {
    .image-gallery {
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    }
}